# SQL: Desafio

Nesta aula teremos um desafio de **SQL**. Veja se consegue solucionar todas as questões.

## Instalação da base

Vamos utilizar uma base de dados chamada "faculdade". Faça o download no blackboard e execute o script `faculdade.sql` para gerar a base de dados.

## Como resolver os exercícios?

Indicamos que crie uma cópia da base de dados em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [2]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="faculdade",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

ProgrammingError: 1049 (42000): Unknown database 'faculdade'

### Tarefas e Notas
Vamos conferir as tarefas e notas

In [ ]:
ia.tasks()

In [ ]:
ia.grades(by="task")

In [ ]:
ia.grades(task="desafio_normalizacao")

**Exercício 1**: Crie uma query que retorne o id e o nome dos alunos que tenham dois endereços na *CIDADE* de São Paulo ordenado pelo id do aluno.

In [3]:
sql_ex01 = """
select id_aluno , nome from alunos where endereco1 like '%São Paulo, São Paulo%' and endereco2 like "%São Paulo, São Paulo%" order by id_aluno;
"""

db(sql_ex01)

NameError: name 'db' is not defined

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [4]:
ia.sender(answer="sql_ex01", task="desafio_normalizacao", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 2**: Uma pesquisa interna revelou que existe um professor na faculdade que causa um aumento na taxa de felicidade dos alunos. Para identificar os alunos mais felizes, escreva uma query que retorne o id e o nome dos alunos que cursam ao mesmo tempo as disciplinas de Megadados e Big Data ou que cursam ao mesmo tempo as disciplinas de Megadados e MLOps. Ordene pelo id do aluno.

**Disclaimer**: exercício criado pelo prof. Márcio, não sou tão convencido assim!

In [5]:
sql_ex02 = """
select id_aluno , nome from alunos where disciplinas like '%Megadados%'  and (disciplinas  like '%Big Data%'  or disciplinas like  "%MLOps%") order by id_aluno;
"""

db(sql_ex02)

NameError: name 'db' is not defined

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [6]:
ia.sender(answer="sql_ex02", task="desafio_normalizacao", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: A "Avenida Marginal" na cidade de Anápolis mudou de nome para "Avenida Ribeirinha". Escreva uma query que atualize o nome da rua para todos os endereços que possuem o nome "Avenida Marginal" nesta cidade.

In [7]:
sql_ex03 = """
UPDATE alunos
SET endereco1 = REPLACE(endereco1, "Avenida Marginal", "Avenida Ribeirinha") , endereco2 =  REPLACE(endereco2, "Avenida Marginal", "Avenida Ribeirinha")
where (endereco1 like "%Avenida Marginal%" and  endereco1 like "%Anápolis%") or  (endereco2 like "%Avenida Marginal%" and endereco2 like "%Anápolis%"); 



"""

db(sql_ex03)

NameError: name 'db' is not defined

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [8]:
ia.sender(answer="sql_ex03", task="desafio_normalizacao", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**: Crie uma query que retorne o **Nome** de todas as disciplinas presentes no banco de dados. Ordene pelo nome da disciplina.

In [19]:
sql_ex04 = """
SELECT DISTINCT SUBSTRING_INDEX(disciplinas, ',', 1) AS primeira_materia
FROM alunos
order by primeira_materia;

"""

db(sql_ex04)

NameError: name 'db' is not defined

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [13]:
ia.sender(answer="sql_ex04", task="desafio_normalizacao", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**: A disciplina "Meditação e Relaxamento" foi cancelada por conta do baixo interesse nela pelos alunos. Escreva uma query que remova a disciplina do banco de dados sem que a estrutura da coluna seja afetada.

In [14]:
sql_ex05 = """
UPDATE alunos
SET disciplinas = REPLACE(disciplinas, "Meditação e Relaxamento, ", ""), disciplinas = REPLACE(disciplinas, ", Meditação e Relaxamento", "")
where disciplinas like "%Meditação e Relaxamento%";     

"""


db(sql_ex05)

NameError: name 'db' is not defined

In [15]:
ia.sender(answer="sql_ex05", task="desafio_normalizacao", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

### Conferindo as Notas

Conferindo as Notas em cada exercício de **todas** as atividades disponíveis:

Podemos filtrar por uma atividade:

In [ ]:
ia.grades(task="desafio_normalizacao")

Nota por atividade (tarefa):

In [20]:
ia.grades(by="TASK")

|    | Tarefa               |   Nota |
|---:|:---------------------|-------:|
|  0 | agg_join             |     10 |
|  1 | ddl                  |     10 |
|  2 | desafio_normalizacao |     10 |
|  3 | dml                  |     10 |
|  4 | group_having         |     10 |
|  5 | newborn              |     10 |
|  6 | permissions          |     10 |
|  7 | select01             |     10 |
|  8 | sql_review1          |     10 |
|  9 | views                |     10 |

Podendo filtrar apenas uma atividade:

In [21]:
ia.grades(by="TASK", task="desafio_normalizacao")

|    | Tarefa               |   Nota |
|---:|:---------------------|-------:|
|  0 | desafio_normalizacao |     10 |

In [58]:
#grade_clear

#grade_clear

class CollisionNode:
    def __init__(self, key, value, prev=None, next=None):
        self.key = key
        self.value = value
        self.prev = prev
        self.next = next
class HashTable:
    def __init__(self, initial_size=1):
        self._len = 0
        self._hashes = []
        for i in range(initial_size):
            self._hashes.append(None)
            
    def __setitem__(self, key, value):
        if (self._len == 0 and len(self._hashes) == 1) or (self._len >= (len(self._hashes))/2):
            tam_atual = len(self._hashes)
            novos_hashes = [None] * (2 * tam_atual)  # Dobrar o tamanho atual da tabela.
            for i in range(tam_atual):
                no_atual = self._hashes[i]
                while no_atual:
                    # Recalcula o índice com base no novo tamanho da tabela.
                    novo_indice = hash(no_atual.key) % len(novos_hashes)
                    # Insere no início da lista para esse índice.
                    novo_no = CollisionNode(no_atual.key, no_atual.value, next=novos_hashes[novo_indice])
                    if novos_hashes[novo_indice] is not None:
                        novos_hashes[novo_indice].prev = novo_no
                    novos_hashes[novo_indice] = novo_no
                    no_atual = no_atual.next
            self._hashes = novos_hashes  # Atualiza a tabela de hash com a nova tabela.

        put_in = hash(key) % len(self._hashes)
        if self._hashes[put_in] is None:
            # Se não houver colisão, simplesmente insere o novo nó.
            self._hashes[put_in] = CollisionNode(key, value)
        else:
            # Caso contrário, insere o novo nó no início da lista para esse índice.
            new_node = CollisionNode(key, value)
            early = self._hashes[put_in]
            early.prev = new_node
            new_node.next = early 
            self._hashes[put_in] = new_node
        self._len += 1  # Incrementa o contador de elementos após a inserção.


    def __getitem__(self, key):
        tamanho_atual_hashes = len(self._hashes)
        put_in = hash(key)%tamanho_atual_hashes
        if (self._hashes[put_in] != None):
            if (self._hashes[put_in].key == key):
                return self._hashes[put_in].value
            else:
                no_atual = self._hashes[put_in]
                while(no_atual != None):
                    if (no_atual.key == key):
                        return no_atual.value
                    no_atual = no_atual.next
                    if (no_atual == None):
                        raise KeyError
        else:
            raise KeyError


    def __delitem__(self, key):
        hashed = hash(key)
        index = hashed % len(self._hashes)
        current_node = self._hashes[index]
        while current_node is not None:
            if current_node.key == key:
                if current_node.prev is not None:
                    current_node.prev.next = current_node.next
                else:
                    self._hashes[index] = current_node.next
                if current_node.next is not None:
                    current_node.next.prev = current_node.prev
                self._len -= 1
                return
            current_node = current_node.next
        raise KeyError(key)


    def __len__(self):
        return self._len

    def __iter__(self):
        for node in self._hashes:
            current_node = node
            while current_node is not None:
                yield current_node.key
                current_node = current_node.next


    def __contains__(self, key):
        try:
            self[key]
            return True
        except KeyError:
            return False

In [79]:
# testing collision
ht = HashTable(1)
ht[1] = 3
ht[2] = 5
ht[3] = 7
ht[4] = 9

print(ht)
# print the structure
for i in range(len(ht._hashes)):
    print(f"Index {i}")
    node = ht._hashes[i]
    while node is not None:
        print(f"  {node.key} -> {node.value}")
        node = node.next

<__main__.HashTable object at 0x0000020E8670D5D0>
Index 0
Index 1
  1 -> 3
Index 2
  2 -> 5
Index 3
  3 -> 7
Index 4
  4 -> 9
Index 5
Index 6
Index 7